@model List<MVCEjemplo1.Models.Producto>
@{
    ViewData["Title"] = "Lista productos";
}
<h1>@ViewData["Title"]</h1>

<button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Producto")'" />Nuevo Producto</button>
    
<p>Esta es la vista de la lista de productos</p>

<table class="table" >
    <thead class="text-center">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Descripción</th>
            <th scope="col">Cantidad</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>    
    <tbody class="text-center">
            @foreach (var producto in Model)
            {
            <tr>
                <td >@producto.IdProducto</td>
                <td>@producto.Nombre</td>
                <td >@producto.Descripcion</td>
                <td >@producto.Cantidad</td>
                <td>
                    <div>
                        <a class="btn btn-primary" href="#" role="button">Detalles     <i class="bi bi-info-circle"></i></a>
                        <a class="btn btn-warning" href="#" role="button">Editar       <i class="bi bi-pencil-square"></i></a>
                        <a class="btn btn-danger" href="#" role="button">Eliminar      <i class="bi bi-trash"></i></a>
                    </div>
                </td>
            </tr>
            }
    </tbody>
</table>